:root {
    --rojo: #e50914;
    --blanco: white;
    --gris: #303030;
    --gris-f: #757575;
    --negro: black;
    --tipo-soloTitulo: 'Playfair Display', serif;
    --tipo-titular: 'Asap', sans-serif;
    --tipo-principal:  'Inter', sans-serif;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
    :root {
      --negro: #ececec;
    }
  }
  /* Opcional */
  /* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
  /* Opcional */
  /* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
  @media (prefers-reduced-motion: reduce) {
    * {
      -webkit-animation: none !important;
              animation: none !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }
  /* Reseteamos los margin y paddings de todas las etiquetas */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  
  /* Evitamos problemas con las imagenes */
  img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
    /* opcional */
    -o-object-fit: cover;
       object-fit: cover;
    /* opcional */
    -o-object-position: center center;
       object-position: center center;
  }
  
  /* Reseteamos los enlaces para funcionar como cajas... */
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
  }
  
  /* ... excepto los que se encuentran en párrafos */
  p a {
    display: inline;
  }
  
  /* Quitamos los puntos de los <li> */
  li {
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  
  /* Configuramos anclas suaves */
  html {
    scroll-behavior: smooth;
  }
  
  /* Desactivamos estilos por defecto de las principales etiquetas de texto */
  h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
  }
  
  /* Evitamos problemas con los pseudoelementos de quotes */
  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }
  
  /* Configuramos el texto que seleccionamos */
  ::-moz-selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  ::selection {
    background-color: var(--negro);
    color: var(--blanco);
  }
  
  /* Nivelamos problemas de tipografías y colocación de formularios */
  form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
    /* opcional */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  
  /* Reseteamos las tablas */
  table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /* Evitamos problemas con los SVG */
  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }
  
  /* (Probándolo, no usar en producción) En el caso de añadir una  */
  /* p svg{
    display: inline;
    width: initial;
  } */
  /* Configuramos la tipografía para toda la web */
  body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    background-color: var(--negro);
    color: var(--blanco);
    /* opcional */
    line-height: 1.4em;
    /* opcional */
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    /* opcional */
    font-smooth: always;
    /* opcional */
    -webkit-font-smoothing: antialiased;
    /* opcional */
    -moz-osx-font-smoothing: grayscale;
    z-index: 1;
  }
  
  .contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

  }
  .header {
    width: 100%;
    min-width: 5em;
    background: lightblue ;
    padding: 1em 2em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
    display: none;
  }
  
  .header .ul {
    display: flex;
    flex-grow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .header .li {
    margin:0 1em
  }
  
  
  
  .main{
    width: 100%;
    background: rgba(0,0,0,0.4);
    margin: 0 0 1em;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .seccion{
    width: 100%;
    min-height: 80vh;
    
    padding: 10rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.seccion .info {
  font-size: 1.2em;
  animation: aparecer1 2s ease 1 both;
}
.circulos{
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  z-index: 1;
  filter: blur(48px);
  animation: circulo1 50s linear infinite both;
}
.circulos .circulo{
  position: absolute;
  width: 50%;
  height: 50%;
  animation: circulo1 40s linear infinite both;

}
.circulos .circulo1{
 top:0%;
 left: 0%;
 animation: circulo1 20s linear infinite both;
}

.circulos .circulo1 .path{
  fill: seagreen;
}
.circulos .circulo2{
  top:0%;
  right: 0%;
}
.circulos .circulo2 .path{
  fill: rgb(194, 191, 52);
}

.circulos .circulo3{
  bottom:0%;
  left: 0%;
}
.circulos .circulo3 .path{
  fill: rgb(123, 17, 155);
}
.circulos .circulo4{
  bottom:0%;
  right: 0%;
}
.circulos .circulo4 .path{
  fill: rgb(11, 26, 107);
}
.seccion .ul{
  margin: 2em 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.seccion .ul .li{
  margin: 0 1em;
}
.seccion .ul .a{
  border-top: 3px solid rgba(255, 255, 255, .2); 
  border-radius: 50%; 
  padding: 1em 1em 1em ;
  text-transform: uppercase;
  font-weight: 500;
  transition: all .5s ease;
  animation: aparecer1 2s ease 1 backwards;
  text-align: center;
}
.seccion .ul>:nth-child(2) .a{
  animation-delay: .2s;
}
.seccion .ul .a:hover{
  border-color: black;
}
.seccion .h2{
  width: 100%;
  font-family: var(--tipo-soloTitulo);
  font-size: 5em;
  font-weight: 50;
  padding-bottom: 5rem;
  color: white;
  mix-blend-mode: multiply;

}




.seccion .h3{
  font-family: var(--tipo-soloTitulo);
  font-size: 2.5em;
  padding-bottom: 3rem;
}

.seccion .p{}
.seccion .grid{
  width: 100%;
  max-width: 40em;
  margin: 1em 0;
  padding: 50px;

  /* display: grid;
  grid-template-columns: repeat( auto-fit, minmax(20rem, 3fr));
  gap: 5rem; */
}
.seccion .article{
  width: 100%;
  height: 30%; 
  min-height: 20vh;
  padding-bottom: 20px;
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  
}
.seccion .a{
  padding: 5px;
  width: 100%;
  height: auto;
}
section .img{
  width: 100%;
  height: 550px;
  background: red;
}
section .h4{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4rem);
  position: absolute;
  bottom: 0;
  left: 0;

  color: white;
  font-size: 1.8em;
  font-family: var(--tipo-titular);
  font-style: italic;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform:translateZ(1) scale(1.2);
  transition: all .5s ease;
}
.seccion article:hover .h4{
  opacity: 1;
  transform:translateZ(1) scale(1);
  
}



.about .h2{
  margin: 0 0 1em;
  padding: 6px;
}
.about .p{
  max-width: 40rem;
  text-align: left;
  margin: 0 0 1rem;
  font-size: 1.4rem;
  font-family: var(--tipo-titular);
  text-align: center;
}
.about .rrss{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.about .li{
  margin: 0 1em;
  color: var(--blanco);
  transition: all .5s ease;
  opacity: 1;
  transform:translateZ(1) scale(1);
}
.about .li:hover{
  color: var(--gris-f);
}
.about .svg{
  width: 3em;
  height: 3em;
  margin-bottom: 3px;
  padding-right: 15px;
}

.footer {
  text-align: center;
  padding: 2em 0;
  color: var(--blanco);
  position: relative;
  z-index: 0;
}


@keyframes circulo1{
  from{
    transform:rotate(0deg) scale(2.9);
  }
  to{
    transform:rotate(360deg) scale(2);
  }
}


@keyframes aparecer1{
  from{
    opacity: 0;
    transform:translateY(50%);
  }
  to{
    opacity: 1;
    transform:translateY(0%);
  }
}

@media screen and (max-width: 400px) {
  .contenedor {
    width: 100%;
  }
}

/* #cursor{
  width: 3em;
  height: 3em;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: difference;
} */